$search-button__color: #EE6B2F;
$body__color: #fff;
$button__default-color: #ccc;
$button-action__color: #30a7d7;
$filter-section__color:#313131;
$filter-helps__color: #4dad5b;
$filter-buttons__color: white;
$cards__bg-color: #F2F2F2;
