:root {
  font-family: system-ui, Avenir, "Flexo-Regular", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: #424242 url("img/body_bg.png");
  color: #fff;


  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  box-sizing: border-box;
  background: #fff;
  clear: both;
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
}
label {
  font-family: "Flexo-Regular", arial, sans-serif;
  font-size: 25px;
  margin-top: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.section {
  background-color: white;
  background-size: 100% 1px;
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.section-title {
    color: #919191;
    cursor: default;
    font-size: 187.5%;
    line-height: 125%;
    text-transform: none;
    font-family: "Flexo-Regular", arial, sans-serif;
}

.section.pokeheader::before{
    content: "";
    display: table;
}

.section.pokeheader::after{
    clear:both;
    content: "";
    display: table;
}

.filter-section {
  background-color: #313131;
}

.filter-section *  {
  border-radius: 5px;
}

.filter-header, .filters-wrap {
  display: flex;
  gap: normal;
  justify-content: space-around;
  align-items: center;
}

.left-side, .right-side {
  display: inherit;
  flex-direction: column;
}

.search {
  display: inherit;
  gap: 10px;
  margin-top: 10px;
}

input {
  width: auto;
  padding: 10px;
  height: auto;
}

.search-button {
  background: #EE6B2F url("img/input-search-bg.png") center center no-repeat;
  padding: 21px 12px;
  color: transparent;
}

.search-banner {
  background-color: #4dad5b;
  padding: 20px;
}

.filter-title {
  display: inherit;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.pokedex-filter-list {
  margin-top: 20px;
  list-style: none;
  column-count: 2;
}

.pill {
  border-radius: 5px;
  text-align: center;
  padding: 13px 31px;
  background-color: #4dad5b;
}


.pokedex-filter-list div span {
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  float: left;
}

.pokedex-filter-list div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pokedex-filter-list div .type-filter, .pokedex-filter-list div .weakness-filter{
  background-color: white;
  color: black;
  float: left;
  border-radius: 15px;
  width: 28px;
  height: 28px;
}

.number-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  input {
    width: 25%;
  }
}