:root {
  font-family: system-ui, Avenir, "Flexo-Regular", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: #424242 url("img/body_bg.png");
  color: #fff;


  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  box-sizing: border-box;
  background: #fff;
  clear: both;
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
}
label {
  font-family: "Flexo-Regular", arial, sans-serif;
  font-size: 25px;
  margin-top: 10px;
}

ul, li {
  list-style: none;
  padding: 0;
}

button {
  background-color: #ccc;
  border-radius: 5px;
  border: none;
  clear: both;
  color: white;
  cursor: pointer;
  font-size: 105%;
  float: left;
  line-height: 125%;
  margin: 1.5625%;
  padding: 0.75em 1.25em 0.675em;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
}

.button-gray {
  background-color: #ccc;
}

.button-orange {
  background-color: #ee6b2f;
}

.button-blue {
  background-color: #30a7d7;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.section {
  background-color: white;
  background-size: 100% 1px;
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  margin-top: 20px;
}

.section-title {
    color: #919191;
    cursor: default;
    font-size: 187.5%;
    line-height: 125%;
    text-transform: none;
    font-family: "Flexo-Regular", arial, sans-serif;
}

.section.pokeheader::before{
    content: "";
    display: table;
}

.section.pokeheader::after{
    clear:both;
    content: "";
    display: table;
}

.filter-section {
  background-color: #313131;
}

.filter-section *  {
  border-radius: 5px;
}

.filter-header, .filters-wrap {
  display: flex;
  gap: normal;
  justify-content: space-around;
  align-items: center;
}

.left-side, .right-side {
  display: inherit;
  flex-direction: column;
  width: 35%;
}

.search {
  display: inherit;
  gap: 10px;
  margin-top: 10px;
}

input {
  width: auto;
  padding: 10px;
  height: auto;
}

.search-button {
  background: #EE6B2F url("img/input-search-bg.png") center center no-repeat;
  padding: 21px 12px;
  color: transparent;
}

.search-banner {
  background-color: #4dad5b;
  padding: 20px;
}

.filter-title {
  display: inherit;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.pokedex-filter-list {
  margin-top: 20px;
  column-count: 2;
}

.pill {
  border-radius: 5px;
  text-align: center;
  padding: 13px 31px;
  background-color: #4dad5b;
}


.pokedex-filter-list div span {
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  float: left;
}

.pokedex-filter-list div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pokedex-filter-list div .type-filter, .pokedex-filter-list div .weakness-filter{
  background-color: white;
  color: black;
  float: left;
  border-radius: 15px;
  width: 28px;
  height: 28px;
}

.number-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  input {
    width: 25%;
  }
}

.select-custom {
  position: relative;
  display: inline-block;
  background-color: #333;
  color: white;
  border-radius: 4px;
  padding: 5px;
  font-family: sans-serif;
}

.select-custom select {
  appearance: none;
  background-color: #999;
  color: #000;
  border: none;
  padding: 8px;
  font-size: 14px;
  width: 200px;
}

.select-custom::after {
  content: "▾";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
}

.pokedex-filter-height-list, .pokedex-filter-weight-list {
  float: left;
  height: 80px;
  margin-bottom: 0.5em;
  width: 100%;
  display: inline-block;
}

.pokedex-filter-height-list li, .pokedex-filter-weight-list li {
  float: left;
  width: 27.46%;
  background-color: #F2F2F2;
  border-radius: 12px;
  color: #313131;
  cursor: pointer;
  height: 100%;
  margin: 0 2%;
  overflow: hidden;
}

.filter-action {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 35px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sort-div label {
  color: #333;
}