:root {
  font-family: system-ui, Avenir, "Flexo-Regular", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: 100%;
}

/* CSS-Reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS-Reset rules end */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: #424242 url("img/body_bg.png");
  color: #fff;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0;
}

.app {
  box-sizing: border-box;
  background: #fff;
  clear: both;
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
}
label {
  font-size: 25px;
  margin-top: 10px;
}

ul, li {
  list-style: none;
  padding: 0;
}

.button {
  background-color: #ccc;
  border-radius: 5px;
  border: none;
  clear: both;
  color: white;
  cursor: pointer;
  font-size: 105%;
  line-height: 125%;
  margin: 6.5px;
  padding: 12px 21px;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
}

.button-gray {
  background-color: #ccc;
}

.button-orange {
  background-color: #ee6b2f;
}

.button-blue {
  background-color: #30a7d7;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.section {
  background-color: white;
  background-size: 100% 1px;
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  margin-top: 20px;
}

.section-title {
    color: #919191;
    cursor: default;
    text-transform: none;
}


.filter-section {
  background-color: #313131;
}

.filter-section *  {
  border-radius: 5px;
}

.filter-header, .filters-wrap {
  display: flex;
  gap: normal;
  justify-content: space-around;
  align-items: center;
}

.left-side, .right-side {
  display: inherit;
  flex-direction: column;
  width: 35%;
}

.search {
  display: inherit;
  gap: 10px;
  margin: 20px 0;
}

input {
  width: auto;
  padding: 10px;
  height: auto;
}

.search-button {
  background: #EE6B2F url("img/input-search-bg.png") center center no-repeat;
  padding: 21px 12px;
  color: transparent;
}

.search-banner {
  background-color: #4dad5b;
  padding: 20px;
}

.filter-title {
  display: inherit;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.pokedex-filter-list {
  margin-top: 20px;
  column-count: 2;
}

.pill {
  border-radius: 5px;
  text-align: center;
  padding: 13px 31px;
  background-color: #4dad5b;
}


.pokedex-filter-list div span {
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  line-height: normal;
}

.pokedex-filter-list div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pokedex-filter-list div .type-filter, .pokedex-filter-list div .weakness-filter{
  background-color: white;
  color: black;
  border-radius: 15px;
  width: 28px;
  height: 28px;
  line-height: 25px;
}

.number-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  input {
    width: 25%;
  }
}

.select-custom {
  position: relative;
  display: inline-block;
  background-color: #333;
  color: white;
  border-radius: 4px;
  padding: 5px;
  font-family: sans-serif;
}

.select-custom select {
  appearance: none;
  background-color: #999;
  color: #000;
  border: none;
  padding: 8px;
  font-size: 14px;
  width: 200px;
}

.select-custom::after {
  content: "▾";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
}

.pokedex-filter-height-list, .pokedex-filter-weight-list {
  height: 80px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.pokedex-filter-height-list li, .pokedex-filter-weight-list li {
  width: 100%;
  background-color: #F2F2F2;
  border-radius: 12px;
  color: #313131;
  cursor: pointer;
  height: 100%;
  margin: 0 2%;
  overflow: hidden;
}

.filter-action {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 35px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sort-div label {
  color: #333;
}

.result-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result .result-row .result-item {
  margin-bottom: 50px;
}

.result .result-row .result-item a {
  background-color: #F2F2F2;
  display: block;
  border-radius: 15px;
}

.result .result-row .result-item p {
  color: #919191;
  margin-bottom: 5px;
}

.result .result-row .result-item h5 {
  color: black;
  font-size: 23px;
  margin: 5px 0;
}

.result .result-row .result-item .abilities span {
  padding: 2px 25px;
  font-size: 12px;
}

.full-content {
  display: flex;
  justify-content: center;
}