$search__button--color: #EE6B2F;
$body--color: #fff;
$pokemon-prefix: #919191;
$button__default--color: #ccc;
$button__action--color: #30a7d7;
$filter__section--color:#313131;
$filter__helps--color: #4dad5b;
$filter__button--color: white;
$cards__bg--color: #F2F2F2;
$neitral--color: #a5a2a2;
$pokemon-pagination__background-color: #a4a4a4;
$pokemon-pagination__background-color_hovered: #30a7d7;
$icon__background-color: #fff;
$arrow__color: #616161;
$pokemon-name__color: $arrow__color;
$pokemon-id__color: $pokemon-name__color;
$pokemon-specifications__background-color: $pokemon-pagination__background-color;
$pokemon-specifications__cell-active: #30a7d7;
$pokemon-specifications__border-color_blue-pokeball: #17adff;
$pokemon-specifications__border-color_red-pokeball: #eb859a;
$pokemon-specifications__abilitie-desc__background-color: #313131;
$pokemon-specifications__abilitie-desc__header: #616161;
$pokemon-evolution__wrapper: #313131;
$pokemon-postfix: #919191;