$search__button--color: #EE6B2F;
$body--color: #fff;
$button__default--color: #ccc;
$button__action--color: #30a7d7;
$filter__section--color:#313131;
$filter__helps--color: #4dad5b;
$filter__button--color: white;
$cards__bg--color: #F2F2F2;
$neitral--color: #a5a2a2;
