@use "colors" as *;
@forward "reset";
@forward "fonts";

:root {
  font-family: system-ui, Avenir, "Flexo-Regular", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  background: #424242 url("../img/body_bg.png");
  color: $body--color;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0;
}

a {
  text-decoration: none;
}

.app {
  box-sizing: border-box;
  background: $body--color;
  clear: both;
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
}

.search__label--wrap, .sort--div__label-wrap {
  font-size: 25px;
  margin-top: 10px;
}

.button {
  background-color: $button__default--color;
  border-radius: 5px;
  border: none;
  clear: both;
  color: white;
  cursor: pointer;
  font-size: 105%;
  line-height: 125%;
  margin: 6.5px;
  padding: 12px 21px;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
}

.button--gray {
  background-color: $button__default--color;
}

.button--orange {
  background-color: $search__button--color;
}

.button--blue {
  background-color: $button__action--color;
}

.icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: $icon__background-color;
}

.section {
  background-color: white;
  background-size: 100% 1px;
  display: block;
  margin: 20px auto 0 auto;
  max-width: 1024px;
  width: 100%;
  margin-top: 20px;
}

.pokeHeader__title {
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 15px;
    font-weight: 700;
    color: $pokemon-prefix;
    cursor: default;
    text-transform: none;
}


.filter {
  background-color: $filter__section--color;
  padding: 0 0 30px 0;
  *  {
    border-radius: 5px;
  }
}


.filter {
  &__header, &__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__wrap {
    overflow: hidden;
    transition: 0.5s;
  }
}

.left-side, .right-side {
  display: inherit;
  flex-direction: column;
  width: 35%;
}

.search {
  display: inherit;
  gap: 10px;
  margin: 20px 0;
}

input {
  width: auto;
  padding: 10px;
  height: auto;
}

.search__button {
  background: $search__button--color url("../img/input-search-bg.png") center center no-repeat;
  padding: 21px 12px;
  color: transparent;
}

.right-side__banner {
  background-color: $filter__helps--color;
  padding: 20px;
}

.left-side__title {
  display: inherit;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.left-side__pokedex-filter-list {
  margin-top: 20px;
  column-count: 2;
}

.pill {
  border-radius: 5px;
  text-align: center;
  padding: 13px 31px;
  background-color: $filter__helps--color;
}


.left-side__pokedex-filter-list .pokedex-filter-list__filter-row span {
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  line-height: normal;
}

.left-side__pokedex-filter-list div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.left-side__pokedex-filter-list div .type-filter, .left-side__pokedex-filter-list div .weakness-filter{
  background-color: $filter__button--color;
  color: black;
  border-radius: 15px;
  width: 28px;
  height: 28px;
  line-height: 25px;
}

.left-side__number-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  input {
    width: 25%;
  }
}

.select-custom {
  position: relative;
  display: inline-block;
  background-color: #333;
  color: white;
  border-radius: 4px;
  padding: 5px;
  font-family: sans-serif;
}

.select-custom select {
  appearance: none;
  background-color: #999;
  color: #000;
  border: none;
  padding: 8px;
  font-size: 14px;
  width: 200px;
}

.select-custom::after {
  content: "▾";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
}

.pokedex-filter-height__list, .pokedex-weight-filter__list {
  height: 80px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.pokedex-filter-height__list li, .pokedex-weight-filter__list li {
  width: 100%;
  background-color: $cards__bg--color;
  border-radius: 12px;
  color: #313131;
  cursor: pointer;
  height: 100%;
  margin: 0 2%;
  overflow: hidden;
}

.filter__actions {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 35px;
}

.sort__actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actions__sort-div label {
  color: #333;
}

.result__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result .result__row .result__item {
  margin-bottom: 50px;
}

.result  {
  &__link, &__img {
    font-weight: 500;
    background-color: $cards__bg--color;
    display: block;
    border-radius: 15px;
    width: 215px;
    height: 215px;
  }
}

.result .result__row .result__item p {
  color: #919191;
  margin-bottom: 5px;
}

.result .result__row .result__item h5 {
  color: black;
  font-size: 23px;
  margin: 5px 0;
}

.pokemon__abilities span{
    border-radius: 5px;
    text-align: center;
    background-color: $neitral--color;
    margin-right: 5px;
    padding: 2px 25px;
    font-size: 12px;
}

.full-content {
  display: flex;
  justify-content: center;
}

.pokemon-pagination {

  &__buttons {
    display: flex;
    height: 60px;
  }

  a {
    display: inherit;
    justify-content: center;
    background-color: $pokemon-pagination__background-color;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    &:hover {
      background-color: $pokemon-pagination__background-color_hovered;
    }
  }

  span {
    font-size: 24px;
    font-weight: bold;
  }

  &__wrapper {
    display: inherit;
    align-items: center;
    height: 100%;
    gap: 15px;
  }

  &__previous {
    border-right: 4px solid white;
  }

  .icon-arrow {
    &-left::before {
      content: "<";
      color: $arrow__color;
    }

    &-right::before {
      content: ">";
      color: $arrow__color;
    }
  }

  &__number {
    color: white;
  }
  &__name {
    color: $pokemon-name__color
  }

  &__title {
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 36px;
    span {
      color: $pokemon-id__color
    }
  }
}

.pokemon-detail {
  display: flex;
  padding: 0 10px;
  margin-top: 50px;
  justify-content: space-between;

  &__left-side, &__right-side {
    width: 48%;
  }

  &__pokemon-image {
    text-align: center;
    background-color: $cards__bg--color;
    border-radius: 20px;
    img {
      width: 90%;
    }
  }

  &__pokemon-stats {
    background-color: $pokemon-specifications__background-color;
    padding: 24px;
    margin-top: 20px;
    border-radius: 10px;

    h3 {
      font-size: 16px;
      color: black;
      font-weight: lighter;
    }
  }

  &__columns-specifications {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .column {
    display: inherit;
    flex-direction: column;
    width: 55px;
    
    .cell {
      background-color: white;
      margin-top: 5px;
      height: 10px;
      &.active {
        background-color: $pokemon-specifications__cell-active;
      }
    }

    span {
      margin-top: 5px;
      text-align: center;
      color: black;
    }
  }
  &__description {
    margin-top: 10px;
    color: black;
    font-size: 18px;
    font-weight: 500;
  }

  &__pokemon-versions {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    align-items: center;
    span {
      color: black;
      font-size: 18px;
    }
  }

  &__version {
    cursor: pointer;
    &.version-blue, &.version-red {
      border-width: 4px; 
      border-radius: 30px;
      border-style: solid;
      width: 38px;
      line-height: normal;
      span {
        font-size: 30px;
        font-family: "icons";

        &::before {
          content: "\f12a";
        }

      }
    }

    &.version-blue span{
      color: $pokemon-specifications__border-color_blue-pokeball;
    }

    &.version-red span{
      color: $pokemon-specifications__border-color_red-pokeball;
    }

    &.version-blue.active {
      border-color: $pokemon-specifications__border-color_blue-pokeball
    }

    &.version-red.active {
      border-color: $pokemon-specifications__border-color_red-pokeball
    }
  }

  &__pokemon-info {
    position: relative;
    margin-top: 30px;
  }

  &__ability-info {
    padding: 0 20px;
    border-radius: 10px;
    background-color: $pokemon-specifications__cell-active;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-count: 2;
    padding-bottom: 15px;
    div {
      width: 50%;
      p.attribute-title {
        margin-top: 15px;
      }

      p.attribute-value {
        color: black;
        font-size: 20px;
        margin-top: 15px;

        &.more-info {
          font-family: "icons";
          cursor: pointer;
          &::after {
            content: "?";
            margin-left: 10px;
            background-color: white;
            padding: 3px 10px;
            border-radius: 50%;
            color: $pokemon-specifications__cell-active;
          }
        }

        span.icon {
          font-family: "icons";
          background-color: transparent;

          &.icon-female::before {
            content: "\f115";
          }

          &.icon-male::before {
            content: "\f122";
          }
        }
      }
    }
  }
  &__ability-desc {
    background-color: $pokemon-specifications__abilitie-desc__background-color;
    border-radius: 10px;
    padding: 20px 15px;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    &__header {
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 14px;
        color: $pokemon-specifications__abilitie-desc__header;
      }
      .close-button button {
        padding: 18px;
        background-color: black;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        border-style: none;
        &::before {
          content: "\f125";
          font-family: "icons";
          margin-right: 5px;
        }
      }
    }
    &__body {
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }

  &__pokemon-types, &__pokemon-weaknesses {
    h3 {
      margin-top: 30px;
      color: black;
      margin-bottom: 15px;
    }
    .pokemon__abilities span {
      font-size: 16px;
    }
  }
}

.pokemon-evolution {
  padding: 0 10px;
  margin-top: 30px;
  &__wrapper {
    background-color: $pokemon-evolution__wrapper;
    padding: 20px;
    border-radius: 10px;
    font-size: 22px;
  }
  &__body {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  &__pokemon-card {
    position: relative;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    color: white;
    &:not(:last-child)::after {
      font-family: "icons";
      position: absolute;
      left: 300px;
      font-size: 48px;
      content: "\f105";
    }
  }

  &__img {
    border: 5px solid white;
    border-radius: 50%;
  }

  &__pokemon-info {
    text-align: center;
    h3 {
      font-size: 20px;
      font-weight: 100;
      margin: 15px 0;
    }
    .number-postfix {
      color: $pokemon-postfix;
    }
  }
  &::before {
    content: "▲";
    font-size: 55px;
    position: absolute;
    top: 93%;
    left: -1%;
  }
}

.explore-more {
  padding: 0 10px;
  justify-content: end;
  a {
    margin: 10px 0;
  }
}

