@use "colors" as *;
@forward "reset";

:root {
  font-family: system-ui, Avenir, "Flexo-Regular", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  background: #424242 url("../img/body_bg.png");
  color: $body--color;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0;
}

.app {
  box-sizing: border-box;
  background: $body--color;
  clear: both;
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
}

.search__label--wrap, .sort--div__label-wrap {
  font-size: 25px;
  margin-top: 10px;
}

.button {
  background-color: $button__default--color;
  border-radius: 5px;
  border: none;
  clear: both;
  color: white;
  cursor: pointer;
  font-size: 105%;
  line-height: 125%;
  margin: 6.5px;
  padding: 12px 21px;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
}

.button--gray {
  background-color: $button__default--color;
}

.button--orange {
  background-color: $search__button--color;
}

.button--blue {
  background-color: $button__action--color;
}

.section {
  background-color: white;
  background-size: 100% 1px;
  display: block;
  margin: 20px auto 0 auto;
  max-width: 1024px;
  width: 100%;
  margin-top: 20px;
}

.pokeHeader__title {
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 15px;
    font-weight: 700;
    color: #919191;
    cursor: default;
    text-transform: none;
}


.filter {
  background-color: $filter__section--color;
  padding: 0 0 30px 0;
  *  {
    border-radius: 5px;
  }
}


.filter {
  &__header, &__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__wrap {
    overflow: hidden;
    transition: 0.5s;
  }
}

.left-side, .right-side {
  display: inherit;
  flex-direction: column;
  width: 35%;
}

.search {
  display: inherit;
  gap: 10px;
  margin: 20px 0;
}

input {
  width: auto;
  padding: 10px;
  height: auto;
}

.search__button {
  background: $search__button--color url("../img/input-search-bg.png") center center no-repeat;
  padding: 21px 12px;
  color: transparent;
}

.right-side__banner {
  background-color: $filter__helps--color;
  padding: 20px;
}

.left-side__title {
  display: inherit;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.left-side__pokedex-filter-list {
  margin-top: 20px;
  column-count: 2;
}

.pill {
  border-radius: 5px;
  text-align: center;
  padding: 13px 31px;
  background-color: $filter__helps--color;
}


.left-side__pokedex-filter-list .pokedex-filter-list__filter-row span {
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  line-height: normal;
}

.left-side__pokedex-filter-list div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.left-side__pokedex-filter-list div .type-filter, .left-side__pokedex-filter-list div .weakness-filter{
  background-color: $filter__button--color;
  color: black;
  border-radius: 15px;
  width: 28px;
  height: 28px;
  line-height: 25px;
}

.left-side__number-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  input {
    width: 25%;
  }
}

.select-custom {
  position: relative;
  display: inline-block;
  background-color: #333;
  color: white;
  border-radius: 4px;
  padding: 5px;
  font-family: sans-serif;
}

.select-custom select {
  appearance: none;
  background-color: #999;
  color: #000;
  border: none;
  padding: 8px;
  font-size: 14px;
  width: 200px;
}

.select-custom::after {
  content: "▾";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
}

.pokedex-filter-height__list, .pokedex-weight-filter__list {
  height: 80px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.pokedex-filter-height__list li, .pokedex-weight-filter__list li {
  width: 100%;
  background-color: $cards__bg--color;
  border-radius: 12px;
  color: #313131;
  cursor: pointer;
  height: 100%;
  margin: 0 2%;
  overflow: hidden;
}

.filter__actions {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 35px;
}

.sort__actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actions__sort-div label {
  color: #333;
}

.result__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result .result__row .result__item {
  margin-bottom: 50px;
}

.result  {
  &__link, &__img {
    font-weight: 500;
    background-color: $cards__bg--color;
    display: block;
    border-radius: 15px;
    width: 215px;
    height: 215px;
  }
}

.result .result__row .result__item p {
  color: #919191;
  margin-bottom: 5px;
}

.result .result__row .result__item h5 {
  color: black;
  font-size: 23px;
  margin: 5px 0;
}

.result .result__row .result__item .pokemon__abilities span{
    border-radius: 5px;
    text-align: center;
    background-color: $neitral--color;
    margin-right: 5px;
    padding: 2px 25px;
    font-size: 12px;
}

.full-content {
  display: flex;
  justify-content: center;
}